.hero_container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -700;
  height: 100dvh;
}

.mobile {
  /* height: 90dvh; */
}

.hero_bg_img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -999;
  position: absolute;
  object-position: top;
}

.snow_layer {
  /* z-index: -900; */
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.29;
}

.title_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 0.85;
  transform: translateY(100%) translateX(0%);
}

.title {
  font-size: 7rem;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(77, 77, 77);
}

.subtitle {
  font-size: 7rem;
  font-family: "Bebas Neue", sans-serif;
  background-image: linear-gradient(
    180deg,
    rgba(65, 79, 107, 1) 0%,
    rgba(23, 28, 38, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.25rem;
}

@media (max-width: 800px) {
  .title,
  .subtitle {
    font-size: 6em;
  }
}

@media (max-width: 600px) {
  .title,
  .subtitle {
    font-size: 5em;
  }

  .subtitle {
    letter-spacing: 0.18rem;
  }
}

@media (max-width: 450px) {
  .title,
  .subtitle {
    font-size: 4em;
  }

  .subtitle {
    letter-spacing: 0.14rem;
  }
}
