.section_container {
  height: 100dvh;
  position: relative;
}

.mobile {
  height: 90vh;
}

.bg_img {
  object-fit: cover;
  height: 90%;
  width: 100%;
  z-index: -999;
  position: absolute;
  object-position: top;
}
