.main_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* position: relative; */
}

.tab_hidden {
  display: none;
}

.tab_visible {
  display: block;
}

@media (max-width: 768px) {
}
